<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584628501374-ebuqk8i46g1c2s6ke3tagv52so5cm91o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584628501374-ebuqk8i46g1c2s6ke3tagv52so5cm91o</string>
	<key>API_KEY</key>
	<string>AIzaSyBVhafqPMoHyM_WKLM0SmMIz9oGAaXRUp4</string>
	<key>GCM_SENDER_ID</key>
	<string>584628501374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.go-aquarion0454.Pachibase</string>
	<key>PROJECT_ID</key>
	<string>pachibase</string>
	<key>STORAGE_BUCKET</key>
	<string>pachibase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584628501374:ios:4146950d320b71cc</string>
	<key>DATABASE_URL</key>
	<string>https://pachibase.firebaseio.com</string>
</dict>
</plist>